[submodule "WingtipToys/WingtipToys/Scripts/EventHub.js"]
	path = WingtipToys/WingtipToys/Scripts/EventHub.js
	url = https://github.com/jonmseaman/EventHub.js.git
[submodule "WingtipToys/EventSimulator"]
	path = WingtipToys/EventSimulator
	url = https://github.com/jonmseaman/EventSimulator.git
[submodule "WingtipToys/RecommendationsScript"]
	path = WingtipToys/RecommendationsScript
	url = git@github.com:arjunn11/RecommendationsScript.git
